
@{
    ViewData["Title"] = "Projects";
}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>A selection of fun and creative web-projects.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            
            <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="/images/portfolio/byggnad.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Recruitment tool</h4>
                    <p>App</p>
                    <p>Recruitment tool for the HR department at the board of education in Gothenburg</p>
                    <a href="/images/portfolio/byggnad.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Recruitment tool"><i class="bx bx-plus"></i></a>
                    <a href="@Url.Action("RecruitTool", "Portfolio")" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="/images/portfolio/gstan.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Visualisation Map</h4>
                    <p>App</p>
                    <p>Visualisation tool based on Google map API, containing register over all pre-schools in the city of Gothenburg. Made for the deparment of digitalization and innovation at the board of education Gothenburg.</p>
                    <a href="/images/portfolio/gstan.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Visualisation Map"><i class="bx bx-plus"></i></a>
                    <a href="@Url.Action("VisualMap", "Portfolio")" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="/images/portfolio/gstan_anime.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>HR admin tool</h4>
                    <p>Web</p>
                    <p>Dynamic web-page for administration of city connected unions and staff</p>
                    <a href="/images/portfolio/gstan_anime.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HR admin tool"><i class="bx bx-plus"></i></a>
                    <a href="@Url.Action("HrUnion", "Portfolio")" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="/images/portfolio/gstan_drawing.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>HR statistics</h4>
                    <p>Web</p>
                    <p>Web application to store and manage statitics for the HR department at the board of education in the city of Gothenburg.</p>
                    <a href="/images/portfolio/gstan_drawing.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HR statistics"><i class="bx bx-plus"></i></a>
                    <a href="@Url.Action("RecruitStatistics", "Portfolio")" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="/images/portfolio/gstan_night.jpeg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Mixed projects and prototypes</h4>
                    <p>Web</p>
                    <p>A selection of other projects and prototypes made for the department of digitalizaion and innovation, Förskoleförvaltningen Gothenburg</p>
                    <a href="/images/portfolio/gstan_night.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Mixed projects and prototypes"><i class="bx bx-plus"></i></a>
                    <a href="@Url.Action("MixedFskProj", "Portfolio")" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="/images/portfolio/vingnir.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Static Website based on Bootstrap 5</h4>
                    <p>Web</p>
                    <p>Bootstrap 5 training project for Lexicon IT-Education</p>
                    <a href="/images/portfolio/vingnir.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Static Website based on Bootstrap 5"><i class="bx bx-plus"></i></a>
                    <a href="@Url.Action("PawsSite", "Portfolio")" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="/images/portfolio/sokoban.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Sokoban game</h4>
                    <p>Web</p>
                    <p>Simple Sokoban game made with JavaScript for education and training</p>
                    <a href="/images/portfolio/sokoban.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Sokoban game"><i class="bx bx-plus"></i></a>
                    <a href="@Url.Action("SokobanGame", "Portfolio")" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="/images/portfolio/demo.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Demos</h4>
                    <p>App</p>
                    <p>A range of different software projects made for fun and educational purposes.</p>
                    <a href="/images/portfolio/demo.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Demos"><i class="bx bx-plus"></i></a>
                    <a href="@Url.Action("Demos", "Portfolio")" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->
